<!DOCTYPE html>
<html>
<head>
    <title>VIT-SH</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>VIT Student Handbook</h1>
<a href="/input">For Content Team</a>
<br/><br/><br/><br/><br/><br/><br/>

<p>The link will be on the home page temporarily only! If this link is removed, just tyoe the above weblink with a
    /input at the end!</p>
</body>
</html>
