<!DOCTYPE html>
<html ng-app="handbook">

<head>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>

    <link href="/css/materialize.min.css" rel="stylesheet"/>
    <link href="/css/style-desktop.css" rel="stylesheet"/>
    <script src="/js/init.js"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/app-desktop.js"></script>
</head>

<body layout="column">
<div id="hide" style="background: black;color: white">
    <div class="center" style="margin-top: 7em ">Site is under Construction
    <a href="#/input" class="btn" onclick="document.getElementById('hide').style.display = 'none'">
        Enter Data
    </a>
    <a href="#/" class="btn" onclick="document.getElementById('hide').style.display = 'none'">
        See Site
    </a>
    </div>
</div>
<script type="text/javascript">
    function hid(){

    var hide = document.getElementById('hide');
        var n = window.innerHeight;
    hide.style.height = n.toString() + 'px';
    hide.style.width = '100%';
    }
    window.onload = hid();
</script>
<ul id="slide-out" class="side-nav collection left-align">
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle Ac white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="Academics">
                <small>Ac</small>
            </h4>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle St white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="Student Organizations">
                <small>St</small>
            </h4>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle Co white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="College">
                <small>Co</small>
            </h4>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle Li white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="Life Hack">
                <small>Li</small>
            </h4>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle Ho white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="Hostels">
                <small>Ho</small>
            </h4>
        </a>
    </li>
    <li class="collection-item avatar">
        <a href="browse.html">
            <h4 class="circle Ar white-text center-align right z-depth-1-half tooltipped" data-delay="50"
                data-position="left" data-tooltip="Around VIT">
                <small>Ar</small>
            </h4>
        </a>
    </li>
</ul>
<header class="VIT" ng-controller="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper VIT">
                <div class="input-field left">
                    <input id="search" placeholder="Search..." type="search">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
                <ul class="right">
                    <li><a id="categories" href="#" data-activates="slide-out"
                           class="button-collapse white-text waves-effect waves-light">Categories</a></li>
                    <li><a id="login" href="#modal1" class="modal-trigger white-text waves-effect waves-light">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<ng-view>

</ng-view>
<script type="text/javascript" src="/js/angular-app.js"></script>
<script type="text/javascript" src="/js/controllers.js"></script>
<script type="text/javascript" src="/js/routes.js"></script>
<script type="text/javascript" src="/js/helpers.js"></script>
</body>

</html>