<div class="container">
<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="mdi-content-add"></i>New</div>
        <div class="collapsible-body">
            <form ng-submit="processForm()">
                <div class="container">
                    <div class="row">
                <div class="col s12 m4">
                    <label for="m_category">Main Category: </label>
                    <input placeholder="Main Category of Article" name="m_category" type="text" ng-model="formDatain.m_category"/></div>
                <div class="col s12 m4">
                    <label for="s_category">Sub Category: </label>
                    <input placeholder="Sub Category of Article" name="s_category" type="text" ng-model="formDatain.s_category"/></div>
                <div class="col s12 m4">
                    <label for="topic">Topic *: </label>
                    <input placeholder="Topic of Article" name="topic" type="text" ng-model="formDatain.topic"/></div></div>
                <div class="col s12">
                    <label for="contentText" >Content: </label>
                            <textarea rows="20" name="contentText"
                                      placeholder="Type Content Here" ng-model="formDatain.contentText" style="height:auto"></textarea></div>
                <div class="col-xs-12">
                    <label for="tag">Tags: </label>
                    <input placeholder="Tags separated by space" name="tag" type="text" size="50" ng-model="formDatain.tag"/></div>
                <div class="col s12 m4">
                    <input class="btn" type="submit" value="Submit"/></div>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="mdi-action-label"></i>Find And Edit</div>
        <div class="collapsible-body">
            <div ng-if="!findMessage">
            <form ng-submit="findData()">
                <div class="container">
                <label for="topic">Topic</label>
                <input type="text" placeholder="Topic" name="f_topic" ng-model="formDataFind.f_topic"/>
                <input class="btn" type="submit" value="Submit"/>
                </div>
            </form>
            </div>
            <div ng-if="findMessage">
            <form ng-submit="editArticle()">
                <div class="container">
                <div class="row"> <div class="col s12 m4">
                    <label for="e_m_category">Main Category: </label>
                    <input placeholder="Main Category of Article" name="e_m_category" type="text"
                           ng-model="formDataGet.main_category"/></div>
                <div class="col s12 m4">
                    <label for="e_s_category">Sub Category: </label>
                    <input placeholder="Sub Category of Article" name="e_s_category" type="text"
                           ng-model="formDataGet.sub_category "/></div>
                <div class="col s12 m4">
                    <label for="e_topic">Topic: </label>
                    <input placeholder="Topic of Article" name="e_topic" type="text"
                           ng-model="formDataGet.topic"/></div></div>
                <div class="col s12">
                    <label for="e_contentText" valign="top">Content: </label>
                            <textarea rows="20" name="e_contentText"
                                      placeholder="Type Content Here" ng-model="formDataGet.content"  style="height:auto"></textarea></div>
                <div class="col s12">
                    <label for="tag">Tags: </label>
                    <input placeholder="Tags separated by space" name="e_tag" type="text" size="50"
                           ng-model=" formDataGet.tags "/></div>
                <div class="col s12 m4">
                    <input class="btn" type="submit" value="Submit"/></div>
                </div>
            </form>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="mdi-action-delete"></i>Delete</div>
        <div class="collapsible-body">
            <form ng-submit="deleteArticle()">
                <div class="container">
                <label for="topic">Topic: </label>
                <input type="text" placeholder="Topic" name="d_topic" ng-model="formDelete.d_topic"/>
                <input class="btn" type="submit" value="Submit"/></div>
            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="mdi-image-add-to-photos"></i>Upload Image</div>
        <div class="collapsible-body">

            <form ng-submit="addImage()">
                <div class="container">
                <label for="imgfile">Upload Image File: </label>
                <input type="file" name="imgfile" id="imgfile" nv-file-select uploader="uploader" options="{ url: '/input/upload'}"/>
                <input class="btn" type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </li>
</ul>

</div>
