<div class="row">
    <div class=" col s6 grey-text center-align">
        <h3>Suggestions</h3>
        <!--cards -->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-title">
                        <ul class="collection left-align">
                            <li class="collection-item avatar">
                                <a href="#">
                                    <h4 class="circle center-align yellow white-text ">
                                        <small>Ac</small>
                                    </h4>
                                    <span class="title grey-text text-darken-2">FFCS</span>

                                    <p class="grey-text">Add / Drop </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-title">
                        <ul class="collection left-align">
                            <li class="collection-item avatar">
                                <img src="img/user-default.png" alt="" class="circle">
                                <span class="title grey-text text-darken-2">FFCS</span>

                                <p class="grey-text">Add / Drop </p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-title">
                        <ul class="collection left-align">
                            <li class="collection-item avatar">
                                <a href="#">
                                    <img src="img/user-default.png" alt="" class="circle">
                                    <span class="title grey-text text-darken-2">FFCS</span>

                                    <p class="grey-text">Add / Drop </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col s6 grey-text center-align">
        <h3>Featured Article</h3>
        <!--Cards-->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-title">
                        <ul class="collection left-align">
                            <li class="collection-item avatar">
                                <a href="#">
                                    <h4 class="circle center-align purple white-text ">
                                        <small>St</small>
                                    </h4>
                                    <span class="title grey-text text-darken-2">Student Organizations</span>

                                    <p class="grey-text">Chapters </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-image">
                        <img src="img/sample-1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>