<!doctype html>
<html>
<head>
</head>
<body>
  <form action = "/input/news" method="post">
    <p>Enter News Update</p>
    <p><textarea rows = "30" name = 'news' placeholder="type news here"></textarea></p>
    <input type = "submit"/>
  </form>
</body>
</html>
