<div class="row col s12">
    <div ng-if="articles.length!=0" >

        <div class="col s4 " id="article_tabs">
            <ul class=" tabs collection center-align  z-depth-1-half " style=" height:auto;margin-top: 2%" >
                <li style="height:auto;width: auto;" class=" col s12 collection-item avatar tab " ng-repeat="a in articles" test-dir="" onmouseover="setDynamicElements()">
                    <a href="#{{a._id}}">

                        <h4 class="circle center-align Ac white-text " ng-if="a.main_category == 'Academics'">
                            <small>Ac</small>
                        </h4>
                        <h4 class="circle center-align St white-text " ng-if="a.main_category == 'Student Organization'">
                            <small>St</small>
                        </h4>
                        <h4 class="circle center-align Co white-text " ng-if="a.main_category == 'College'">
                            <small>Co</small>
                        </h4>
                        <h4 class="circle center-align Li white-text " ng-if="a.main_category == ''">
                            <small>Li</small>
                        </h4>
                        <h4 class="circle center-align Ho white-text " ng-if="a.main_category == 'Hostel'">
                            <small>Ho</small>
                        </h4>
                        <h4 class="circle center-align Ar white-text " ng-if="a.main_category == 'Ar'">
                            <small>Ar</small>
                        </h4>

                        <span class="title grey-text text-daren-2">{{a.topic}}</span>

                        <p class="grey-text"  >{{a.sub_category}} </p>

                    </a></li>

            </ul>
        </div>
        <div class="col s8" id="articles">

            <div class="row" ng-repeat="a in articles" id="{{a._id}}" style="display:block" >
                <div class="col s12">
                    <div class="card">
                        <div class="card-title" style="box-shadow: 0 5px 2px 1px rgba(0,0,0,0.05)">
                            <ul class="collection left-align">
                                <li class="collection-item avatar">
                                    <h4 class="circle center-align Ac white-text " ng-if="a.main_category == 'Academics'">
                                        <small>Ac</small>
                                    </h4>
                                    <h4 class="circle center-align St white-text " ng-if="a.main_category == 'Student Organization'">
                                        <small>St</small>
                                    </h4>
                                    <h4 class="circle center-align Co white-text " ng-if="a.main_category == 'College'">
                                        <small>Co</small>
                                    </h4>
                                    <h4 class="circle center-align Li white-text " ng-if="a.main_category == ''">
                                        <small>Li</small>
                                    </h4>
                                    <h4 class="circle center-align Ho white-text " ng-if="a.main_category == 'Hostel'">
                                        <small>Ho</small>
                                    </h4>
                                    <h4 class="circle center-align Ar white-text " ng-if="a.main_category == 'Ar'">
                                        <small>Ar</small>
                                    </h4>

                                    <span class="title grey-text text-darken-2">{{a.topic}}</span>

                                    <p class="grey-text">{{a.sub_category}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-content">
                            <p>{{a.content}}</p>
                        </div>
                        <div class="card-image">
                            <img src="img/sample-1.jpg" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="articles.length==0"  >
        <div class="col s12 card">
            <div class="card-title black-text center ">
                Article Not Found
            </div>
        </div>

    </div>
</div>
